@model IEnumerable<OrganicShop2.Models.ViewModels.Shop.CategoryVM>


@{
    ViewData["Title"] = "Categories";
}

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<p>
    <a asp-action="AddCategories" class="btn btn-success">Add Categories</a>
</p>

    @if (!Model.Any())
{
<h1 class="text-center">There are no categories</h1>    
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="id_@item.Id">
            <td>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
            </td>
            <td>
                        @Html.ActionLink("Delete", "DeleteCategory", new {  id=item.Id  }, new {@class = "delete btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
}
