@model OrganicShop2.Models.ViewModels.Shop.ProductVM

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<br/>
<div class="row">
    <div class="colcol-sm-12 col-md-5">
        <img src="@Model.Image" width="380">
    </div>
    
    <div class="col-sm-12 col-md-7">
        @Html.DisplayFor(model => model.Description)
        <br/>
        @Html.DisplayFor(model => model.Price) €
    

    <br/>
    <div class="addtocart">
        <a href="#" class="addtocart btn btn-success">Add to cart</a>
        <span class="loader">
			<img src="/lib/ajax-loader.gif" height="100" width="150"/>
        </span>
        <div class="ajaxmsg">
            The product has been added to your cart.
        </div>
		</div>
    </div>

